<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devide-width">
    <style>

    </style>
    <title>FM Signup</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body style="background-color: rgb(183, 208, 207);">
    <h1 style="text-align:center">Create Account</h1>

    <div style="text-align:center">
        <form action="/createAccount" method="post" style="text-align:center">
            
            <div>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" placeholder="Enter username">
            </div>
            <br>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="Enter password">
            </div>
            <br>
        
            <button type="submit">Create Account</button>
            <button type="reset">Clear</button>

    
        </form>
    </div>


</body>
</html>