<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devide-width">
    <style>

    </style>
    <title>Launch App</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body style="background-color: rgb(183, 208, 207);">
    <br><br>
    <h1 style="text-align:center">Home Page</h1>
    <br>
    <div style="text-align:center">
        <img src="./images/usericon.png">
    </div>
    
    <br><br>
    <div style="text-align:center">
        <form action="/login" method="get" style="text-align:center">
            <button type="submit">Login</button>
        </form>
        <br>
        <form action="/signup" method="get" style="text-align:center">
            <button type="submit">Create an account</button>
        </form>
    </div>

</body>
</html>